@import "global";
@import "assets/styles/fonts.css";
@import "assets/styles/utils.css";

section h2 {
	color: #101828;
	font-size: 2.25rem;
	font-weight: 700;
	line-height: 144%;
	letter-spacing: 0.02038rem;
	width: 37.5rem;
}

h3 {
	font-size: 1.25rem;
	font-weight: 600;
	line-height: 1.5rem;
	letter-spacing: 0.02375rem;
}

.title {
	background: #F2F4F7;
	padding-top: 1.5rem;
	height: max(100vh, calc(100vw / 1.6));
	overflow: hidden;
	position: relative;

	header {
		* {
			white-space: nowrap;
		}

		padding: 1rem 1.5rem;
		display: inline-flex;
		align-items: center;
		position: relative;
		z-index: 1;
	
		h1 {
			font-size: 1.25rem;
			font-weight: 700;
			line-height: .9;
		}
		
		nav {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			margin: 0 5rem;
			a {
				font-size: 0.875rem;
				font-weight: 500;
				&:not(:last-child) {
					margin-right: 1.5rem;
				}
			}
		}
	
		.header__contacts {
			display: flex;
			align-items: center;
			&__item {
				display: flex;
				align-items: center;
				&:not(:last-child) {
					margin-right: 2rem;
				}

				&__icon {
					width: 1.5rem;
					margin-right: 0.5rem;
				}
				&__text {
					font-size: 0.875rem;
					font-weight: 500;
					display: flex;
					align-items: center;
					justify-content: flex-start;
					&__span {
						display: inline-block;
						&:not(:last-child) {
							margin-right: 1rem;
						}
					}
				}
			}
		}
	}

	.title__message {
		width: 37.5rem;
		margin-top: 5rem;
		position: relative;
		z-index: 1;
		h2 {
			font-size: 2.25rem;
			font-weight: 700;
			line-height: 144%;
			letter-spacing: 0.02038rem;
		}
		p {
			font-size: 0.9375rem;
			font-weight: 500;
			letter-spacing: -0.015rem;
			margin-top: 1.5rem;
		}
	}

	.title__form {
		width: 42.25rem;
		padding: 1.5rem;
		margin-top: 4rem;
		position: relative;
		z-index: 1;

		h3 {
			font-weight: 700;
			margin-bottom: 2rem;
		}
		&__inputs {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			input[type="text"] {
				width: 14rem;
			}
			input[type="submit"] {
				width: 8.25rem;
				text-align: left;
				white-space: normal;
			}
		}
	}

	.title__images {
		position: absolute;
		top: 50vh;
		right: -10rem;
		$w: 47rem;
		width: $w;
		height: $w * 2.4712226;
		transform: rotate(-12deg) translateY(-50%);
		display: flex;
		align-items: center;
		.title__images__item {
			position: absolute;
			height: 100%;
			background-repeat: repeat-y;
			background-size: 100%;
			animation: scroll 15s linear 0s infinite;
			// background-position: 0% 0%;
			// transition: 0.3s;
			&:first-child {
				width: 68%;
				left: 0;
				--scroll-to-y: 990%;
			}
			&:last-child {
				width: 42%;
				right: 0;
				animation-direction: reverse;
				--scroll-to-y: 835%;
			}
			@keyframes scroll {
				from {
					background-position: 0% 0%;
				}
				to {
					background-position: 0% var(--scroll-to-y);
				}
			}
		}
	}
}

section {
	padding-top: 5rem;
	padding-bottom: 5rem;
	&.section-gray-bg {
		background: #f2f4f7;
	}
	.section__paragraph {
		font-size: 0.9375rem;
		font-weight: 500;
	}
}

.section-cycle {
	display: flex;
	&__left {
		margin-right: 8rem;

		h2 {
			margin-bottom: 2rem;
		}
		.section__paragraph {
			margin-bottom: 2.13rem;
		}
		&__technologies__item {
			&:not(:last-child) {
				margin-bottom: 2rem;
			}
			h3 {
				margin-bottom: 1rem;
			}
			p {
				font-size: 1.0625rem;
				font-weight: 400;
				line-height: 1.375rem;
				letter-spacing: -0.0255rem;
				width: 31rem;
			}
		}
	}
	&__categories {
		&__item {
			display: flex;
			padding: .75rem 0;
			font-size: 1.25rem;
			font-weight: 400;
			line-height: 1.5rem;
			letter-spacing: 0.02375rem;
			&, & * {
				cursor: pointer;
			}

			&__caption {
				&__text {
					margin-bottom: 0.1rem;
				}
				&__line {
					width: 0;
					height: 5px;
					transform: scaleY(0.2);
					transform-origin: 0 0;
					background: var(--accent);
					transition: 0.2s;
				}
			}
			&__icon {
				width: 1.5rem;
				margin-left: 0.75rem;
			}

			&:hover {
				.section-cycle__categories__item__caption {
					font-weight: 600;
					&__line {
						width: 95%;
					}
				}
			}
			&:not(:first-child) {
				margin-top: -4px;
			}
		}
	}
}

.section-industries {
	h2 {
		margin-bottom: 1.75rem;
	}

	&__list {
		display: grid;
		grid-auto-flow: column;
		grid-template-columns: repeat(3, 33%);
		grid-template-rows: repeat(5, 1fr);
		row-gap: .94rem;
		&__item {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			&__icon-wrapper {
				width: 2.75rem;
				height: 2.75rem;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 100%;
				margin-right: 1rem;
				img {
					height: 1.5rem;
				}
			}
			&__caption {
				font-size: 1.0625rem;
				font-weight: 500;
				line-height: 1.375rem;
				letter-spacing: -0.0255rem;
			}
		}
	}
}

.section-portfolio {
	padding-top: 2.5rem;

	h2 {
		margin-bottom: 1.5rem;
	}
	
	.section__paragraph {
		margin-bottom: 3.38rem;
		width: 37.5rem;
	}

	&__list {
		&__header {
			display: flex;
			align-items: center;
			justify-content: space-between;

			&__tabs {
				display: flex;
				&, & * {
					cursor: pointer;
				}

				&__item {
					padding: 1rem;
					&[class$="-picked"] {
						font-weight: 500;
						[class$="__line"] {
							opacity: 1;
						}
					}
					
					&__line {
						margin-top: 0.1rem;
						height: 2px;
						width: 100%;
						background: var(--accent);
						opacity: 0;
					}
				}
			}
		}

		&__screen {
			margin-top: 2.5rem;
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			&__info {
				&>*:not(:last-child) {
					margin-bottom: 2.5rem;
				}
				h2 {
					margin-bottom: 2rem;
				}
				&__description {
					font-size: 0.9375rem;
					line-height: 1.25rem;
					letter-spacing: -0.015rem;
					width: 37.5rem;
				}
				&__additional {
					display: flex;
					align-items: center;
					&__item {
						display: flex;
						align-items: center;
						&:not(:last-child) {
							margin-right: 2rem;
						}
						&__icon {
							width: 1.5rem;
							margin-right: 0.5rem;
						}
					}
				}
				&__numbers {
					display: flex;
					&__item {
						&:not(:last-child) {
							margin-right: 3rem;
						}
						&__number {
							margin-bottom: 0.5rem;
							font-size: 1.5rem;
							font-weight: 700;
							line-height: 2.16rem;
							letter-spacing: 0.02038rem;
						}
						&__caption {
							font-size: 0.8125rem;
							line-height: 1rem;
							letter-spacing: -0.00488rem;
						}
					}
				}
				&__app-download {
					display: flex;
					a {
						display: inline-block;
						&:not(:last-child) {
							margin-right: 1rem;
						}
						img {
							height: 2.5rem;
						}
					}
				}
			}
			&__img {
				width: 37.5rem;
				height: auto;
			}
		}
	}
}

.section-discuss {
	display: flex;
	justify-content: space-between;
	&__message {
		width: 37.5rem;
		position: relative;
		z-index: 1;
		* {
			color: #fff;
		}
		h2 {
			margin-bottom: 1.5rem;
		}
	}
	&__form {
		width: 37.5rem;
		position: relative;
		z-index: 1;
		&__inputs {
			display: grid;
			grid-template-columns: 1fr 1fr;
			column-gap: 1.5rem;
			margin-bottom: 1.5rem;
			// padding: .75rem 0;
			.text-input {
				input {
					width: 100%;
				}
			}
		}
		[type="submit"] {
			float: right;
		}
	}
}

.section-blue {
	background-color: var(--accent);
	background-image: url("assets/img/form_bg.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	position: relative;
	overflow: hidden;
}
.bg-noise {
	position: absolute;
	top: 50%;
	left: 50%;
	width: max(100%, 100vh);
	opacity: 0.3;
	transform: translate3d(-50%, -50%, 0);
	mix-blend-mode: overlay;
}

.section-stages {
	h2 {
		margin-bottom: 2.13rem;
	}
	&__cards {
		display: grid;
		grid-template-columns: repeat(2, 24.5rem);
		grid-template-rows: repeat(3, 1fr);
		grid-auto-flow: column;
		justify-content: space-between;
		&__item {
			&:not(:nth-child(3n)) {
				margin-bottom: 1.5rem;
			}
			&__head {
				display: flex;
				align-items: center;
				margin-bottom: 1rem;
				&__icon {
					height: 3rem;
					margin-right: 1.5rem;
				}
				&__text {
					font-size: 1.25rem;
					font-weight: 600;
					line-height: 1.5rem;
					letter-spacing: 0.02375rem;
				}
			}
		}
	}
}

.section-team {
	display: flex;
	justify-content: space-between;
	&__info {
		width: 37.5rem;
		&>*:not(:last-child) {
			margin-bottom: 2rem;
		}
		&__numbers {
			display: flex;
			justify-content: space-between;
			&__item {
				&__number {
					font-size: 3rem;
					font-weight: 700;
					line-height: 4.32rem;
					letter-spacing: 0.02038rem;
					margin-bottom: 0.5rem;
				}
				&__caption {
					font-size: 0.9375rem;
					font-weight: 500;
					line-height: 1.25rem;
					letter-spacing: -0.015rem;
					color: var(--gray-500);
				}
			}
		}
	}

	&__img-block {
		display: flex;
		align-items: flex-end;
		justify-content: center;
		position: relative;
		&__img {
			width: 37.5rem;
			position: relative;
			z-index: 1;
		}
		&__shadow {
			width: 93.33%;
			height: 5rem;
			position: absolute;
			bottom: -1rem;
			// left: 0;
			filter: blur(16px);
			background: #000c;
		}
	}
}

.section_book {
	display: flex;
	position: relative;
	// justify-content: space-between;
	&__text {
		width: 37.5rem;
		margin-right: 9.5rem;
		h2 {
			color: #fff;
			margin-bottom: 2.5rem;
		}
		&__form {
			&__inputs {
				display: grid;
				grid-template-columns: 1fr 1fr;
				column-gap: 1.5rem;
				row-gap: 1rem;
				margin-bottom: 1.5rem;
				.text-input {
					margin: .5rem 0;
					&:nth-child(3) {
						grid-column: span 2;
					}
				}
			}
			&__submit-wrapper {
				text-align: right;
			}
		}
	}
	&__img {
		height: 32.5rem;
		margin-top: -2.88rem;
		position: absolute;
		left: 6.25rem + 37.5rem + 9rem;
	}
}

.section-faq {
	h2 {
		margin-bottom: 2.5rem;
	}
	&__list {
		// display: grid;
		// grid-auto-flow: column;
		// grid-template-columns: repeat(2, 37.5rem);
		// grid-template-rows: 1fr 1fr;
		// align-items: start;
		display: flex;
		justify-content: space-between;
		gap: 1.5rem;
		&__column {
			&__item {
				$icon-width: 2.25rem;
				$icon-padding: 0.75rem;
				margin: 1rem 0;
				align-self: start;
				&__head {
					display: flex;
					align-items: center;
					justify-content: space-between;
					padding: .75rem 0;
					&, & * {
						cursor: pointer;
					}
					&__text {
						font-size: 1.25rem;
						font-weight: 600;
						line-height: 1.5rem;
						letter-spacing: 0.02375rem;
					}
					&__icon-wrapper {
						padding: $icon-padding;
						border-radius: 100%;
						display: flex;
						align-items: center;
						justify-content: center;
						transition: 0.2s;
					}
					&__icon {
						width: $icon-width;
						transition: 0.2s;
						fill: var(--accent);
					}
				}
				&__body {
					width: calc(100% - $icon-padding * 2 - $icon-width - 1rem);
					max-height: 0;
					transition: 0.2s;
					overflow-y: hidden;
					font-size: 0.9375rem;
					line-height: 1.25rem;
					letter-spacing: -0.015rem;
					b {
						font-weight: 600;
					}
				}
				&__checkbox:checked {
					& ~ .section-faq__list__column__item__head {
						.section-faq__list__column__item__head__icon-wrapper {
							box-shadow: none;
						}
						.section-faq__list__column__item__head__icon {
							transform: rotate(45deg);
							fill: #98a2b3;
						}
					}
					& ~ .section-faq__list__column__item__body {
						max-height: 1000px;
					}
				}
			}
		}
	}
}

footer {
	margin-bottom: 3rem;
	* {
		color: #fff;
	}
	.footer-inner {
		border-radius: 0.75rem;
		padding: 1.5rem;
		background: var(--gray-900);
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: flex-start;
		gap: 2.5rem;

		h2 {
			font-size: 2.25rem;
			font-weight: 700;
			line-height: 1.125rem;
			letter-spacing: -0.00963rem;
		}
		.footer-info {
			display: flex;
			width: 100%;
			&__item {
				width: 25%;
				&__name {
					margin-bottom: 0.5rem;
					display: flex;
					align-items: center;
					&__icon {
						height: 1.5rem;
						margin-right: 0.5rem;
					}
					&__caption {
						color: var(--gray-400);
						font-size: 0.875rem;
						font-weight: 500;
						line-height: 1.125rem;
						letter-spacing: -0.00963rem;
					}
				}
				&__value {
					font-size: 1.0625rem;
					font-weight: 600;
					line-height: 1.375rem;
					letter-spacing: -0.0255rem;
				}
			}
		}
		.footer-motto {
			display: flex;
			align-items: center;
			gap: 0.75rem;
		}
	}
}