@import "global";
@import "assets/styles/fonts.css";
@import "assets/styles/utils.css";

body {
	--h2-fz: 2.25rem;
	--h2-lh: 1.44;
	@media screen and (max-width: 768px) {
		--h2-fz: 1.75rem;
	}
}

.title {
	background: #F2F4F7;
	padding-top: 1.5rem;
	--width-to-height-coef: 1.6rem;
	height: max(100vh, calc(100vw / 1.6));
	overflow: hidden;
	position: relative;

	@media screen and (max-width: 768px) {
		// --width-to-height-coef: 1;
		height: auto;
		padding-bottom: 2rem;
			
		.title__header-checkbox:not(:checked) ~ .header {
			display: none;
		}
	}

	.header {
		* {
			white-space: nowrap;
		}

		padding: 1rem 1.5rem;
		display: inline-flex;
		align-items: center;
		position: relative;
		z-index: 1;
	
		h1 {
			font-size: 1.25rem;
			font-weight: 700;
			line-height: .9;
		}
		
		nav {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			gap: 1.5rem;
			margin: 0 5rem;
			a {
				font-size: 0.875rem;
				font-weight: 500;
			}
		}
	
		.header__contacts {
			display: flex;
			align-items: center;
			gap: 2rem;
			&__item {
				display: flex;
				align-items: center;
				@media screen and (min-width: 769px) {
					&:nth-child(2) {
						margin-left: -1rem;
					}
				}

				&__icon {
					width: 1.5rem;
					margin-right: 0.5rem;
				}
				&__text {
					font-size: 0.875rem;
					font-weight: 500;
					display: flex;
					align-items: center;
					justify-content: flex-start;
					&__span {
						display: inline-block;
						&:not(:last-child) {
							margin-right: 1rem;
						}
					}
				}
			}
		}

		@media screen and (max-width: 768px) {
			position: absolute;
			z-index: 2;
			top: 0;
			left: 0;
			width: 100%;
			flex-direction: column;
			padding: 8.94rem 0 8.56rem;
			box-shadow: none;
			border-radius: 0;

			h1 {
				font-size: 3rem;	
			}
			
			nav {
				flex-direction: column;
				gap: 2rem;
				margin: 3.25rem 0;
				a {
					font-size: 2.25rem;
					line-height: 144%;
					letter-spacing: 0.02038rem;
					font-weight: 400;
					font-family: "Inter", sans-serif;
				}
			}
			.header__contacts {
				&__item {
					&__text {
						font-size: 1.125rem;
						line-height: 1.125rem;
						letter-spacing: -0.00963rem;
					}
				}
			}
			&__close {
				position: absolute;
				top: 3.31rem;
				right: 9.25rem;
				height: 2.25rem;
			}
		}

		@media screen and (max-width: 425px) {
			padding: 6.12rem 0 3.69rem;

			h1 {
				font-size: 1.25rem;	
			}
			
			nav {
				gap: 1.31rem;
				a {
					font-size: 1.5rem;
				}
			}
			.header__contacts {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: flex-start;
				gap: 1rem;
				&__item {
					width: 100%;
					text-align: left;
					&__text {
						font-size: 0.875rem;
					}
				}
			}
			&__close {
				position: absolute;
				top: 1.06rem;
				right: 1.75rem;
				height: 2.25rem;
			}
		}
	}
	.header-minified {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1.5625rem 2rem;
		width: 100%;
		position: relative;
		z-index: 1;
		&__hamburger {
			&__img {
				height: 2.5rem;
			}
		}
		.header__contacts__item {
			display: flex;
			align-items: center;
			&:not(:last-child) {
				margin-right: 2rem;
			}

			&__icon {
				width: 1.5rem;
				margin-right: 0.5rem;
			}
			&__text {
				font-size: 0.875rem;
				font-weight: 500;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				&__span {
					display: inline-block;
					&:not(:last-child) {
						margin-right: 1rem;
					}
				}
			}
		}

		@media screen and (max-width: 425px) {
			h1 {
				font-size: 1.25rem;
			}
			&__hamburger {
				&__img {
					height: 1.25rem;
				}
			}
			.header__contacts__item {
				width: 0;
				overflow: hidden;
			}
		}
	}

	.title__message {
		width: 37.5rem;
		margin-top: 5rem;
		position: relative;
		z-index: 1;
		h2 {
			font-size: 2.25rem;
			font-weight: 700;
			line-height: 144%;
			letter-spacing: 0.02038rem;
		}
		p {
			font-size: 0.9375rem;
			font-weight: 500;
			letter-spacing: -0.015rem;
			margin-top: 1.5rem;
		}

		@media screen and (max-width: 768px) {
			width: 23.875rem;
			margin-top: 2rem;
			h2 {
				font-size: 1.75rem;
			}
		}
		@media screen and (max-width: 425px) {
			width: 100%;
			margin-top: 1.75rem;
		}
	}

	.title__form {
		width: 42.25rem;
		padding: 1.5rem;
		margin-top: 4rem;
		position: relative;
		z-index: 1;

		h3 {
			font-weight: 700;
			margin-bottom: 2rem;
		}
		&__inputs {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			input[type="text"] {
				width: 14rem;
			}
			input[type="submit"] {
				width: 8.25rem;
				text-align: left;
				white-space: normal;
			}
		}
		@media screen and (max-width: 768px) {
			width: 23.875rem;
			margin-top: 2rem;
			&__inputs {
				flex-direction: column;
				align-items: flex-start;
				gap: 2rem;
				input[type="text"] {
					width: 14rem;
				}
				input[type="submit"] {
					width: auto;
				}
			}
		}
		@media screen and (max-width: 425px) {
			margin-top: 33.5rem;
			width: 100%;
		}
	}

	.title__images {
		position: absolute;
		top: 50vh;
		right: -10rem;
		--title-images-width: 47rem;
		--title-images-height-to-width: 2.4712226;
		width: var(--title-images-width);
		height: calc(var(--title-images-width) * var(--title-images-height-to-width));
		transform: rotate(-12deg) translateY(-50%);
		display: flex;
		align-items: center;
		&__item {
			position: absolute;
			height: 100%;
			background-repeat: repeat-y;
			background-size: 100%;
			animation: scroll 15s linear 0s infinite;
			// background-position: 0% 0%;
			// transition: 0.3s;
			&:first-child {
				width: 68%;
				left: 0;
				--scroll-to-y: 990%;
			}
			&:last-child {
				width: 42%;
				right: 0;
				animation-direction: reverse;
				--scroll-to-y: 835%;
			}
			@keyframes scroll {
				from {
					background-position: 0% 0%;
				}
				to {
					background-position: 0% var(--scroll-to-y);
				}
			}
		}

		@media screen and (max-width: 768px) {
			--title-images-width: 18.4rem;
			--title-images-height-to-width: 4;
			right: -5rem;
			&__item {
				&:first-child {
					width: 68%;
					left: 0;
					--scroll-to-y: 440%;
				}
				&:last-child {
					width: 42%;
					right: 0;
					animation-direction: reverse;
					--scroll-to-y: 704%;
				}	
			}
		}

		@media screen and (max-width: 425px) {
			width: 18.40781rem;
			height: 52.95206rem;
			bottom: 3rem;
			top: auto;
			transform: rotate(-12deg);
			&__item {
				animation: none;
				background-position: 0 0;
			}
		}
	}
}

section {
	padding-top: 5rem;
	padding-bottom: 5rem;
	--section-paragraph-fz: 0.9375rem;
	&.section-gray-bg {
		background: #f2f4f7;
	}
	.section__paragraph {
		font-size: var(--section-paragraph-fz);
		font-weight: 500;
	}
	@media screen and (max-width: 768px) {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}
}

section h2 {
	color: #101828;
	font-size: var(--h2-fz);
	font-weight: 700;
	line-height: calc(var(--h2-lh) * 100%);
	letter-spacing: 0.02038rem;
	min-width: 37.5rem;

	@media screen and (max-width: 768px) {
		min-width: auto;
	}
}

h3 {
	font-size: 1.25rem;
	font-weight: 600;
	line-height: 1.5rem;
	letter-spacing: 0.02375rem;
}

.section-cycle {
	--h2-mb: 2rem;
	--sp-mb: 2.13rem;
	h2 {
		margin-bottom: var(--h2-mb);
	}
	.section__paragraph {
		margin-bottom: var(--sp-mb);
	}
	
	&__columns {
		display: flex;
		
		&__technologies {
			margin-right: 8rem;

			&__item {
				width: 31rem;
				&:not(:last-child) {
					margin-bottom: 2rem;
				}
				h3 {
					margin-bottom: 1rem;
				}
				p {
					font-size: 1.0625rem;
					font-weight: 400;
					line-height: 1.375rem;
					letter-spacing: -0.0255rem;
				}
			}
		}

		&__categories {
			margin-top: calc(0rem - (var(--h2-fz) * var(--h2-lh) + var(--section-paragraph-fz) + var(--h2-mb) + var(--sp-mb)));
			&__item {
				display: flex;
				padding: .75rem 0;
				font-size: 1.25rem;
				font-weight: 400;
				line-height: 1.5rem;
				letter-spacing: 0.02375rem;
				&, & * {
					cursor: pointer;
				}
	
				&__caption {
					&__text {
						margin-bottom: 0.1rem;
					}
					&__line {
						width: 0;
						height: 5px;
						transform: scaleY(0.2);
						transform-origin: 0 0;
						background: var(--accent);
						transition: 0.2s;
					}
				}
				&__icon {
					width: 1.5rem;
					margin-left: 0.75rem;
				}
	
				&:hover {
					.section-cycle__columns__categories__item__caption {
						font-weight: 600;
						&__line {
							width: 95%;
						}
					}
				}
				&:not(:first-child) {
					margin-top: -4px;
				}
			}
		}
	}

	@media screen and (max-width: 768px) {
		&__columns {
			&__technologies {
				&__item {
					width: 17.1875rem;
					p {
						font-size: 0.875rem;
						line-height: 1.375rem;
						letter-spacing: -0.0255rem;
					}
				}
			}
			&__categories {
				margin-top: 0;
			}
		}
	}
	@media screen and (max-width: 425px) {
		&__columns {
			flex-direction: column;
			&__technologies {
				margin-right: 0;
				margin-bottom: 2rem;
				&__item {
					width: 100%;
				}
			}
		}
	}
}

.section-industries {
	h2 {
		margin-bottom: 1.75rem;
	}

	&__list {
		display: grid;
		grid-auto-flow: column;
		grid-template-columns: repeat(3, 33%);
		grid-template-rows: repeat(5, 1fr);
		row-gap: .94rem;
		&__item {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			&__icon-wrapper {
				width: 2.75rem;
				height: 2.75rem;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 100%;
				margin-right: 1rem;
				img {
					height: 1.5rem;
				}
			}
			&__caption {
				font-size: 1.0625rem;
				font-weight: 500;
				line-height: 1.375rem;
				letter-spacing: -0.0255rem;
			}
		}
	}

	@media screen and (max-width: 768px) {
		h2 {
			width: 23.75rem;
			margin-bottom: 3rem;
		}
		&__list {
			width: 37.5625rem;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: repeat(8, 1fr);
			justify-content: space-between;
		}
	}
	@media screen and (max-width: 425px) {
		h2 {
			width: 100%;
		}
		&__list {
			width: 100%;
			&__item {
				&__caption {
					font-size: 0.875rem;
					line-height: 1.375rem;
					letter-spacing: -0.0255rem;
				}
			}
		}
	}
}

.section-portfolio {
	padding-top: 2.5rem;

	h2 {
		margin-bottom: 1.5rem;
	}
	
	.section__paragraph {
		margin-bottom: 3.38rem;
		width: 37.5rem;
	}

	&__list {
		&__header {
			display: flex;
			align-items: center;
			justify-content: space-between;

			&__tabs {
				display: flex;
				&, & * {
					cursor: pointer;
				}

				&__item {
					padding: 1rem;
					&[class$="-picked"] {
						font-weight: 500;
						[class$="__line"] {
							opacity: 1;
						}
					}
					
					&__line {
						margin-top: 0.1rem;
						height: 2px;
						width: 100%;
						background: var(--accent);
						opacity: 0;
					}
				}
			}
		}

		&__screen {
			margin-top: 2.5rem;
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			&__info {
				&>*:not(:last-child) {
					margin-bottom: 2.5rem;
				}
				h2 {
					margin-bottom: 2rem;
				}
				&__description {
					font-size: 0.9375rem;
					line-height: 1.25rem;
					letter-spacing: -0.015rem;
					width: 37.5rem;
				}
				&__additional {
					display: flex;
					align-items: center;
					&__item {
						display: flex;
						align-items: center;
						&:not(:last-child) {
							margin-right: 2rem;
						}
						&__icon {
							width: 1.5rem;
							margin-right: 0.5rem;
						}
					}
				}
				&__numbers {
					display: flex;
					&__item {
						&:not(:last-child) {
							margin-right: 3rem;
						}
						&__number {
							margin-bottom: 0.5rem;
							font-size: 1.5rem;
							font-weight: 700;
							line-height: 144%;
							letter-spacing: 0.02038rem;
						}
						&__caption {
							font-size: 0.8125rem;
							line-height: 133.33%;
							letter-spacing: -0.00488rem;
						}
					}
				}
				&__app-download {
					display: flex;
					gap: 1rem;
					a {
						display: inline-block;
						img {
							height: 2.5rem;
						}
					}
				}
			}
			&__img {
				width: 37.5rem;
				height: auto;
			}
		}
	}
	
	@media screen and (max-width: 768px) {
		&__list {
			&__header {
				&__tabs {
					&__item {
						font-size: 0.875rem;
						line-height: 1.375rem;
						letter-spacing: -0.0255rem;
					}
				}
			}
			&__screen {
				position: relative;
				margin-top: 2rem;
				&__info {
					&>*:not(:last-child) {
						margin-bottom: 2rem;
					}
					&__description {
						width: 28.6875rem;
						font-size: 0.875rem;
						line-height: 1.25rem;
						letter-spacing: -0.015rem;
					}
					&__categories {
						font-size: 0.875rem;
						line-height: 1.375rem;
						letter-spacing: -0.0255rem;
					}
					&__additional {
						&__item {
							font-size: 0.875rem;
							line-height: 1.25rem;
							letter-spacing: -0.015rem;
						}
					}
					&__numbers {
						&__item {
							&:not(:last-child) {
								margin-right: 3.31rem;
							}
							&__number {
								font-size: 1.25rem;
								font-weight: 700;
							}
							&__caption {
								font-size: 0.75rem;
							}
						}
					}
				}
				&__img {
					width: 23.0407rem;
					position: absolute;
					bottom: 0;
					right: 0;
				}
				&__more-button {
					position: absolute;
					top: 0;
					right: 0;
				}
			}
		}
	}
	
	@media screen and (max-width: 425px) {
		&__list {
			&__header {
				&__tabs {
					display: block;
					margin-bottom: 1.25rem;
					&__item {
						display: inline-block;
						padding: 0;
						margin-bottom: 0.75rem;
						margin-right: 1.25rem;
					}
				}
			}
			&__screen {
				flex-direction: column-reverse;
				&__info {
					& &__description {
						width: 100%;
						margin-bottom: 1.25rem;
					}
				}
				&__img {
					position: static;
					margin-bottom: 2rem;
				}
				&__more-button {
					position: static;
					width: 100%;
					display: block;
					text-align: center;
					margin-top: 2rem;
					button {
						width: 100%;
						width: 16.125rem;
					}
				}
			}
		}
	}
}

.section-discuss {
	display: flex;
	justify-content: space-between;
	&__message {
		width: 37.5rem;
		position: relative;
		z-index: 1;
		* {
			color: #fff;
		}
		h2 {
			margin-bottom: 1.5rem;
		}
	}
	&__form {
		width: 37.5rem;
		position: relative;
		z-index: 1;
		&__inputs {
			display: grid;
			grid-template-columns: 1fr 1fr;
			column-gap: 1.5rem;
			margin-bottom: 1.5rem;
			// padding: .75rem 0;
			.text-input {
				input {
					width: 100%;
				}
			}
		}
		[type="submit"] {
			float: right;
		}
	}

	@media screen and (max-width: 768px) {
		flex-direction: column;
		justify-content: flex-start;
		margin-top: 1.37rem;
		gap: 2rem;
		&__message {
			width: 21.5rem;
		}
	}
	@media screen and (max-width: 425px) {
		flex-direction: column;
		justify-content: flex-start;
		margin-top: 1.37rem;
		gap: 2rem;
		&__message {
			width: 100%;
			margin-bottom: 8rem;
		}
		&__form {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			&__inputs {
				display: flex;
				flex-direction: column;
				gap: 1.75rem;
				width: 100%;
			}
			[type="submit"] {
				float: none;
				width: 15.9375rem;
			}
		}
	}
}

.section-blue {
	background-color: var(--accent);
	background-image: url("assets/img/form_bg.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	position: relative;
	overflow: hidden;
}
.bg-noise {
	position: absolute;
	top: 50%;
	left: 50%;
	width: max(100%, 100vh);
	opacity: 0.3;
	transform: translate3d(-50%, -50%, 0);
	mix-blend-mode: overlay;
}

.section-stages {
	h2 {
		margin-bottom: 2.13rem;
	}
	&__cards {
		display: grid;
		grid-template-columns: repeat(2, 24.5rem);
		grid-template-rows: repeat(3, 1fr);
		grid-auto-flow: column;
		justify-content: space-between;
		row-gap: 1.5rem;
		&__item {
			&__head {
				display: flex;
				align-items: center;
				margin-bottom: 1rem;
				&__icon {
					height: 3rem;
					margin-right: 1.5rem;
				}
				&__text {
					font-size: 1.25rem;
					font-weight: 600;
					line-height: 1.5rem;
					letter-spacing: 0.02375rem;
				}
			}
		}
	}

	@media screen and (max-width: 768px) {
		h2 {
			margin-bottom: 2.75rem;
		}

		&__cards {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			width: 100%;
			gap: 2rem;
		}
	}
	
	@media screen and (max-width: 425px) {
		h2 {
			width: 19.3125rem;
			margin-bottom: 3.19rem;
		}
		&__cards {
			gap: 1.25rem;
		}
	}
}

.section-team {
	display: flex;
	justify-content: space-between;
	&__info {
		width: 37.5rem;
		&>*:not(:last-child) {
			margin-bottom: 2rem;
		}
		&__numbers {
			display: flex;
			justify-content: space-between;
			&__item {
				&__number {
					font-size: 3rem;
					font-weight: 700;
					line-height: 4.32rem;
					letter-spacing: 0.02038rem;
					margin-bottom: 0.5rem;
				}
				&__caption {
					font-size: 0.9375rem;
					font-weight: 500;
					line-height: 1.25rem;
					letter-spacing: -0.015rem;
					color: var(--gray-500);
				}
			}
		}
	}

	&__img-block {
		display: flex;
		align-items: flex-end;
		justify-content: center;
		position: relative;
		&__img {
			width: 37.5rem;
			position: relative;
			z-index: 1;
		}
		&__shadow {
			width: 93.33%;
			height: 5rem;
			position: absolute;
			bottom: -1rem;
			// left: 0;
			filter: blur(16px);
			background: #000c;
		}
	}

	@media screen and (max-width: 768px) {
		flex-direction: column;

		&__info {
			width: 100%;
		}

		&__img-block {
			width: 100%;
			img {
				width: 100%;
			}
		}
	}
	@media screen and (max-width: 425px) {
		padding-top: 1.75rem;
		padding-bottom: 2.81rem;

		&__info {
			width: 100%;
			&__numbers {
				margin-bottom: 1.25rem;
				&__item {
					&__number {
						font-size: 1.75rem;
						line-height: 1.5rem;
						letter-spacing: 0.02038rem;
						margin-bottom: 1.25rem;
					}
					&__caption {
						font-size: 0.875rem;
						line-height: 0.875rem;
						letter-spacing: -0.015rem;
					}
				}
			}
		}

		&__img-block {
			width: 100%;
			img {
				width: 100%;
			}
		}
	}
}

.section_book {
	display: flex;
	position: relative;
	// justify-content: space-between;
	&__text {
		width: 37.5rem;
		margin-right: 9.5rem;
		h2 {
			color: #fff;
			margin-bottom: 2.5rem;
		}
		&__form {
			&__inputs {
				display: grid;
				grid-template-columns: 1fr 1fr;
				column-gap: 1.5rem;
				row-gap: 1rem;
				margin-bottom: 1.5rem;
				.text-input {
					margin: .5rem 0;
					&:nth-child(3) {
						grid-column: span 2;
					}
				}
			}
			&__submit-wrapper {
				text-align: right;
			}
		}
	}
	&__img {
		height: 32.5rem;
		margin-top: -2.88rem;
		position: absolute;
		left: 6.25rem + 37.5rem + 9rem;
	}

	@media screen and (max-width: 768px) {
		padding: 4.75rem;

		&__text {
			width: 100%;
			margin-right: 0;
			&__form-wrapper {
				display: flex;
				align-items: center;
				justify-content: space-between;
				&__img {
					width: 41%;
					position: static;
					margin-right: 0 - (4.75rem - 1.63rem);
				}
			}
			&__form {
				width: 54.38%;
				&__inputs {
					display: flex;
					flex-direction: column;
					gap: 3rem;
					.text-input {
						margin: 0;
					}
				}
				&__submit-wrapper {
					text-align: left;
				}
			}
		}
	}
	@media screen and (max-width: 425px) {
		padding: 3.06rem 2.94rem 3.5rem;
		&__text {
			width: 100%;
			margin-right: 0;
			&__form-wrapper {
				flex-direction: column-reverse;
				justify-content: flex-start;
				gap: 2rem;
				&_img {
					width: 10rem;
				}
			}
			&__form {
				width: 100%;
			}
		}
	}
}

.section-faq {
	h2 {
		margin-bottom: 2.5rem;
	}
	&__list {
		display: flex;
		justify-content: space-between;
		gap: 1.5rem;
		&__column {
			display: flex;
			flex-direction: column;
			gap: 2rem;
			padding: 1rem 0;
			&__item {
				$icon-width: 2.25rem;
				$icon-padding: 0.75rem;
				align-self: start;
				&__head {
					display: flex;
					align-items: center;
					justify-content: space-between;
					padding: .75rem 0;
					&, & * {
						cursor: pointer;
					}
					&__text {
						font-size: 1.25rem;
						font-weight: 600;
						line-height: 1.5rem;
						letter-spacing: 0.02375rem;
					}
					&__icon-wrapper {
						padding: $icon-padding;
						border-radius: 100%;
						display: flex;
						align-items: center;
						justify-content: center;
						transition: 0.2s;
					}
					&__icon {
						width: $icon-width;
						transition: 0.2s;
						fill: var(--accent);
					}
				}
				&__body {
					width: calc(100% - $icon-padding * 2 - $icon-width - 1rem);
					max-height: 0;
					transition: 0.2s;
					overflow-y: hidden;
					font-size: 0.9375rem;
					line-height: 1.25rem;
					letter-spacing: -0.015rem;
					b {
						font-weight: 600;
					}
				}
				&__checkbox:checked {
					& ~ .section-faq__list__column__item__head {
						.section-faq__list__column__item__head__icon-wrapper {
							box-shadow: none;
						}
						.section-faq__list__column__item__head__icon {
							transform: rotate(45deg);
							fill: #98a2b3;
						}
					}
					& ~ .section-faq__list__column__item__body {
						max-height: 1000px;
					}
				}
			}
		}
	}

	@media screen and (max-width: 768px) {
		padding-bottom: 3.38rem;
		&__list {
			flex-direction: column;
			justify-content: flex-start;
			gap: 2rem;
			padding: 0 5.25rem;
		}
	}
	@media screen and (max-width: 425px) {
		padding-bottom: 4rem;
		h2 {
			margin-bottom: 2rem;
		}
		&__list {
			gap: 2rem;
			padding: 0;
		}
	}
}

.footer {
	margin-bottom: 3rem;
	* {
		color: #fff;
	}
	.footer-inner {
		border-radius: 0.75rem;
		padding: 1.5rem;
		background: var(--gray-900);
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: flex-start;
		gap: 2.5rem;

		h2 {
			font-size: 2.25rem;
			font-weight: 700;
			line-height: 1.125rem;
			letter-spacing: -0.00963rem;
		}
		.footer-info {
			display: flex;
			width: 100%;
			&__item {
				width: 25%;
				&__name {
					margin-bottom: 0.5rem;
					display: flex;
					align-items: center;
					&__icon {
						height: 1.5rem;
						margin-right: 0.5rem;
					}
					&__caption {
						color: var(--gray-400);
						font-size: 0.875rem;
						font-weight: 500;
						line-height: 1.125rem;
						letter-spacing: -0.00963rem;
					}
				}
				&__value {
					font-size: 1.0625rem;
					line-height: 1.375rem;
					letter-spacing: -0.0255rem;
				}
			}
		}
		.footer-motto {
			display: flex;
			align-items: center;
			gap: 0.75rem;
		}
	}

	@media screen and (max-width: 768px) {
		padding: 0;
		margin-bottom: 0;
	}
	@media screen and (max-width: 425px) {
		.footer-inner {
			h2 {
				font-size: 2rem;
				line-height: 1;
				letter-spacing: -0.00963rem;
			}
			.footer-info {
				display: grid;
				grid-template-columns: 1fr 1fr;
				justify-content: space-between;
				row-gap: 2rem;
				column-gap: 2.81rem;

				&__item {
					width: auto;
				}
			}
		}
	}
}